@font-face {
  font-family: 'Switzer Regular';
  font-style: normal;
  font-weight: 400;
  src: url('@assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('@assets/fonts/Switzer-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Material Design Icons';
  src: url('/node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2') format('woff2');
  font-display: swap;
}


/* ************************ POPPINS FONT ************************ */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  /* Regular */
  src: url('@assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  /* Italic */
  src: url('@assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  /* Light */
  src: url('@assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('@assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  /* ExtraLight */
  src: url('@assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('@assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  /* Thin */
  src: url('@assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('@assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  /* Medium */
  src: url('@assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('@assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  /* SemiBold */
  src: url('@assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('@assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: url('@assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('@assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  /* ExtraBold */
  src: url('@assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('@assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  /* Black */
  src: url('@assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('@assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
}
/* ************************************************************** */

html {
  overflow: auto !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Switzer Regular', Arial, sans-serif !important;
  line-height: 14px;
}

*[style*="cursor: pointer"],
[aria-controls],
[disabled],
button,
a,
.v-select, .v-select .v-field .v-text-field__suffix, .v-select .v-field .v-field__input, .v-select .v-field.v-field,
.v-btn,
.v-list-item,
.v-icon,
[role="button"],
[tabindex],
label,
.v-chip {
  cursor: pointer !important;
}

.align-right {
  text-align: right;
}

.p-0 {
  padding: 0 !important;
}

.header .v-toolbar__content, .header .v-container {
  height: 96px !important;
}

.second-header .v-toolbar__content, .topFixed .v-toolbar__content {
  height: 44px !important;
  padding-inline-end: 0 !important;
}

.no-shadown {
  box-shadow: none !important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.header .v-container {
  padding: 13px 0 !important;
}

.font-size-16 {
  font-size: 16px;
  line-height: 20px;
}

.font-size-20 {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
}

.font-size-14 {
  font-size: 16px;
  line-height: 18px;
}

.grecaptcha-badge {
  bottom: 90px !important;
}

@media (min-width: 1280px) {
  .v-container {
      max-width: 1312px !important;
  }
}

@media (max-width: 768px) {
  .header .v-container {
    padding: 13px 0 0 0!important;
  }

  .header .v-toolbar__content, .header .v-container {
    height: 80px !important;
  }

  .font-size-16 {
    font-size: 14px;
    line-height: 16px;
  }
}