@font-face {
  font-family: 'Switzer Regular';
  font-style: normal;
  font-weight: 400;
  src: url('@assets/fonts/Switzer-Regular.woff2') format('woff2'),
       url('@assets/fonts/Switzer-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Material Design Icons';
  src: url('/node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2') format('woff2');
  font-display: swap;
}


/* ************************ POPPINS FONT ************************ */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  /* Regular */
  src: url('@assets/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  /* Italic */
  src: url('@assets/fonts/poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  /* Light */
  src: url('@assets/fonts/poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('@assets/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  /* ExtraLight */
  src: url('@assets/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('@assets/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  /* Thin */
  src: url('@assets/fonts/poppins/Poppins-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('@assets/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  /* Medium */
  src: url('@assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('@assets/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  /* SemiBold */
  src: url('@assets/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('@assets/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  /* Bold */
  src: url('@assets/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('@assets/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  /* ExtraBold */
  src: url('@assets/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('@assets/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  /* Black */
  src: url('@assets/fonts/poppins/Poppins-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('@assets/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
}
/* ************************************************************** */

html {
  overflow: auto !important;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Switzer Regular', Arial, sans-serif !important;
  line-height: 14px;
}

/* .v-layout {
  z-index: 100 !important;
} */

*[style*="cursor: pointer"],
[aria-controls],
[disabled],
button,
a,
.v-select, .v-select .v-field .v-text-field__suffix, .v-select .v-field .v-field__input, .v-select .v-field.v-field,
.v-btn,
.v-list-item,
.v-icon,
[role="button"],
[tabindex],
label,
.v-chip {
  cursor: pointer !important;
}

.v-layout {
  z-index: unset !important;
}

.pm-main {
  padding-top: 83px !important;
  top: 0 !important;
  position: relative !important;
}

.pm-header-desktop {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  transform: unset !important;
}

.pm-breadcrumb {
  position: relative !important;
  top: unset !important;
}

.pm-breadcrumb .v-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pm-breadcrumb .v-toolbar__content {
  height: auto !important;
}

.pm-breadcrumb .v-breadcrumbs--density-default {
  padding: 15px 16px !important;
}

.v-navigation-drawer__scrim {
  position: fixed !important;
}

.align-right {
  text-align: right;
}

.p-0 {
  padding: 0 !important;
}

.header .v-toolbar__content, .header .v-container {
  height: 83px !important;
}

.header .v-container {
  padding: 13px 15px !important;
}

.second-header .v-toolbar__content, .topFixed .v-toolbar__content {
  height: 44px !important;
  padding-inline-end: 0 !important;
}

.no-shadown {
  box-shadow: none !important;
}

.justify-content-between {
  justify-content: space-between!important;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.font-size-16 {
  font-size: 16px;
  line-height: 20px;
}

.font-size-20 {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
}

.font-size-14 {
  font-size: 16px;
  line-height: 18px;
}

.grecaptcha-badge {
  bottom: 160px !important;
  /* z-index: 105; */
}

.pm-ff-link.featured .v-badge .v-badge__badge {
  background: transparent !important;
  font-size: 12px !important;
  color: rgb(var(--v-theme-primary)) !important;
  text-align: center !important;
  width: 25px;
}

.pm-hide-on-hydration {
  visibility: hidden !important;
  opacity: 0 !important;
  transform: none !important;
}

@media (min-width: 1280px) {
  .v-container {
      max-width: 1312px !important;
  }
}

@media (max-width: 768px) {
  /* .header .v-container {
    padding: 13px 0 0 0!important;
  } */

  .pm-main {
    padding-top: 126px !important;
  }

  .header .v-toolbar__content, .header .v-container {
    height: 125px !important;
  }

  .pm-drawer-cart .v-navigation-drawer__append {
    padding-bottom: 80px !important;
  }

  .font-size-16 {
    font-size: 14px;
    line-height: 16px;
  }
}

/* Google Sign In Button */
.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}
/* End Google Sign In Button */